.c-button {
    height: fit-content;
    width: 100%;
    padding-block: 10px;
    border-radius: calc(var(--border-radius) / 2);
    border: 1px solid transparent;
    background-color: var(--accent-color);

    transition: 0.3s all ease-in-out;

    &:hover {
        background-color: transparent;
        color: var(--text-white);
        cursor: pointer;
        border: 1px solid var(--accent-color);

        transition: 0.3s all ease-in-out;
    }
}
