$background: var(--secondary-color);

.c-tabs {
    width: 100%;
    max-width: 100%;

    &__header {
        border-bottom: 1px solid var(--border-color);
        h3 {
            font-size: var(--font-size-title);
        }
    }

    &__tab {
        padding-inline: 15px;
        padding-block: 10px;

        color: var(--text-white);
        background-color: transparent;
        border: transparent;

        &--active {
            background-color: $background;
            border-bottom: 3px solid var(--accent-color);
            color: var(--text-black);
        }
    }

    &__content {
        padding: 15px;

        background-color: $background;
    }
}
