:root {
    --text-white: #ffffff;
    --text-black: #000000;

    --primary-color: #484848;
    --secondary-color: #a1a1a1;
    --hover-color: #858585;
    --accent-color: #ffffff;

    --border-color: #6f6f6f;

    --border-radius: 10px;

    --font-size-title: 20px;
}
